@import url('https://fonts.googleapis.com/css?family=Lato:wght@0,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    margin: 0;
}

.menu {
    position: relative;
    padding: 30px 15px;
    min-width: 250px;
    width: 20vw;
    height: 100vh;
    background-image: linear-gradient(200deg, #20232a, #000);
    z-index: 1;
    box-shadow: 3px 0px 0px 0px rgb(0 0 0 / 0.2);
    overflow-y: scroll;
}

.menu h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

.menu nav ul {
    list-style-type: none;
    padding-left: 0px;
}

.menu nav ul li {
    padding: 10px;
    cursor: pointer;
}

.menu nav ul li:active {
    transform: scale(0.98);
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
}

.menu__footer {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
}

.menu__footer p {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100vh;
}

.main__title {
    background-color: #fff;
    border-radius: 10px;
    color: #111;
    padding: 8px 30px;
    opacity: 0.2;
    position: absolute;
    top: 0;
    text-align: center;
    justify-content:right;
    margin: 10px;
    margin-bottom: 20px;
    z-index: 1;
    font-size: 30px;
    font-weight: 400;
}

.main__iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

